{# Plantilla Jinja2 para el archivo 'controlDict' de OpenFOAM #}

application     {{ application }};

startFrom       startTime;
startTime       {{ startTime }};

stopAt          endTime;
endTime         {{ endTime }};

deltaT          {{ deltaT }};

writeControl    runTime;
writeInterval   {{ writeInterval }};

{% if purgeWrite is not none %}
purgeWrite      {{purgeWrite}};
{% endif %}
{% if writeFormat is not none %}
writeFormat      {{writeFormat}};
{% endif %}

writePrecision  6;
writeCompression {{writeCompression}};

timeFormat      general;
timePrecision   6;

{% if runTimeModifiable is not none %}
runTimeModifiable      {{runTimeModifiable}};
{% endif %}
{% if adjustTimeStep is not none %}
adjustTimeStep      {{adjustTimeStep}};
{% endif %}
{% if maxCo is not none %}
maxCo      {{maxCo}};
{% endif %}
{% if maxAlphaCo is not none %}
maxAlphaCo      {{maxAlphaCo}};
{% endif %}
{% if maxAlphaCo is not none %}
maxDeltaT      {{maxDeltaT}};
{% endif %}