numberOfSubdomains {{ numberOfSubdomains }};

method          {{ method }};

coeffs
{
    n           ({{ n_x }} {{ n_y }} {{ n_z }});
    delta       0.001;
}

// ************************************************************************* //
