    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

    filter          off;

    filterNormal    ( 0 0 1 );

    filterPosition  filterPosition [ 0 1 0 0 0 ] ( 0 0 0.02 );

    filterThickness filterThickness [ 0 1 0 0 0 ] 1e-06;


    // ************************************************************************* //

{%if customContent is not none%}
{{customContent}}
{%endif%}