{# Plantilla Jinja2 para el archivo 'fvSolution' de OpenFOAM #}

{% if params.solver_selected == 'damBreak' %}

    solvers
        {
            "alpha.water.*"
            {
                nAlphaCorr      2;
                nAlphaSubCycles 1;
                cAlpha          1;

                MULESCorr       yes;
                nLimiterIter    5;

                solver          smoothSolver;
                smoother        symGaussSeidel;
                tolerance       {{ params.alpha_water_tolerance }};
                relTol          {{ params.alpha_water_relTol }};
            }

            "pcorr.*"
            {
                solver          PCG;
                preconditioner  DIC;
                tolerance       1e-5;
                relTol          0;
            }

            p_rgh
            {
                solver          PCG;
                preconditioner  DIC;
                tolerance       {{ params.p_rgh_tolerance }};
                relTol          {{ params.p_rgh_relTol }};
            }

            p_rghFinal
            {
                $p_rgh;
                relTol          0;
            }

            U
            {
                solver          smoothSolver;
                smoother        symGaussSeidel;
                tolerance       {{ params.U_tolerance }};
                relTol          {{ params.U_relTol }};
            }
        }

        PIMPLE
        {
            momentumPredictor   no;
            nOuterCorrectors    {{ params.nOuterCorrectors }};
            nCorrectors         {{ params.nCorrectors }};
            nNonOrthogonalCorrectors {{ params.nNonOrthogonalCorrectors }};
        }

        relaxationFactors
        {
            equations
            {
                ".*" 1;
            }
        }
{% endif %}

{%if params.solver_selected == 'waterChannelOpenFoam'%}
solvers
{
    "alpha.water.*"
    {
        nAlphaCorr      1;
        nAlphaSubCycles 1;
        cAlpha          1;

        MULESCorr       yes;
        nLimiterIter    3;

        solver          smoothSolver;
        smoother        symGaussSeidel;
        tolerance       1e-8;
        relTol          0;
    }

    "pcorr.*"
    {
        solver          PCG;
        preconditioner
        {
            preconditioner  GAMG;
            tolerance       1e-5;
            relTol          0;
            smoother        GaussSeidel;
        }
        tolerance       1e-5;
        relTol          0;
        maxIter         50;
    }

    p_rgh
    {
        solver           GAMG;
        tolerance        5e-9;
        relTol           0.01;
        smoother         GaussSeidel;
        maxIter          50;
    };

    p_rghFinal
    {
        $p_rgh;
        tolerance       5e-9;
        relTol          0;
    }

    "(U|k|omega|s).*"
    {
        solver          smoothSolver;
        smoother        symGaussSeidel;
        nSweeps         1;
        tolerance       1e-6;
        relTol          0.1;
    };
}

PIMPLE
{
    momentumPredictor no;
    nCorrectors     2;
    nNonOrthogonalCorrectors 0;
}

relaxationFactors
{
    equations
    {
        ".*" 1;
    }
}

{%endif%}