{# Plantilla Jinja2 para el archivo 'fvSolution' de OpenFOAM #}

{% if params.solver_selected == 'damBreak' %}

    solvers
        {
            "alpha.water.*"
            {
                nAlphaCorr      2;
                nAlphaSubCycles 1;
                cAlpha          1;

                MULESCorr       yes;
                nLimiterIter    5;

                solver          smoothSolver;
                smoother        symGaussSeidel;
                tolerance       {{ params.alpha_water_tolerance }};
                relTol          {{ params.alpha_water_relTol }};
            }

            "pcorr.*"
            {
                solver          PCG;
                preconditioner  DIC;
                tolerance       1e-5;
                relTol          0;
            }

            p_rgh
            {
                solver          PCG;
                preconditioner  DIC;
                tolerance       {{ params.p_rgh_tolerance }};
                relTol          {{ params.p_rgh_relTol }};
            }

            p_rghFinal
            {
                $p_rgh;
                relTol          0;
            }

            U
            {
                solver          smoothSolver;
                smoother        symGaussSeidel;
                tolerance       {{ params.U_tolerance }};
                relTol          {{ params.U_relTol }};
            }
        }

        PIMPLE
        {
            momentumPredictor   no;
            nOuterCorrectors    {{ params.nOuterCorrectors }};
            nCorrectors         {{ params.nCorrectors }};
            nNonOrthogonalCorrectors {{ params.nNonOrthogonalCorrectors }};
        }

        relaxationFactors
        {
            equations
            {
                ".*" 1;
            }
        }
{% endif %}

{%if params.solver_selected == 'waterChannelOpenFoam'%}
solvers
{
    "alpha.water.*"
    {
        nAlphaCorr      1;
        nAlphaSubCycles 1;
        cAlpha          1;

        MULESCorr       yes;
        nLimiterIter    3;

        solver          smoothSolver;
        smoother        symGaussSeidel;
        tolerance       1e-8;
        relTol          0;
    }

    "pcorr.*"
    {
        solver          PCG;
        preconditioner
        {
            preconditioner  GAMG;
            tolerance       1e-5;
            relTol          0;
            smoother        GaussSeidel;
        }
        tolerance       1e-5;
        relTol          0;
        maxIter         50;
    }

    p_rgh
    {
        solver           GAMG;
        tolerance        5e-9;
        relTol           0.01;
        smoother         GaussSeidel;
        maxIter          50;
    };

    p_rghFinal
    {
        $p_rgh;
        tolerance       5e-9;
        relTol          0;
    }

    "(U|k|omega|s).*"
    {
        solver          smoothSolver;
        smoother        symGaussSeidel;
        nSweeps         1;
        tolerance       1e-6;
        relTol          0.1;
    };
}

PIMPLE
{
    momentumPredictor no;
    nCorrectors     2;
    nNonOrthogonalCorrectors 0;
}

relaxationFactors
{
    equations
    {
        ".*" 1;
    }
}

{%endif%}


{%if params.solver_selected == '2DChannelSedFoam'%}
solvers
{
    p_rbgh
    {
        solver          GAMG;
        tolerance       1e-06;
        relTol          0.000;
        smoother        DIC;
        nPreSweeps      0;
        nPostSweeps     2;
        nFinestSweeps   2;
        cacheAgglomeration true;
        nCellsInCoarsestLevel 10;
        agglomerator    faceAreaPair;
        mergeLevels     1;
    }

    p_rbghFinal
    {
        $p_rbgh;
        tolerance       1e-6;
        relTol          0;
    }

    "(k.b|epsilon.b|omega.b|pa_new_value|alphaPlastic)"
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-09;
        relTol          0.00001;
    }

    "(k.bFinal|epsilon.bFinal|omega.bFinal|paFinal|alphaPlasticFinal)"
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-09;
        relTol          0;
    }

    "U.a|U.aFinal"
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-6;
        relTol          0;
    }

    "U.b|U.bFinal"
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-6;
        relTol          0;
    }

    alpha.a
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-15;
        relTol          0;
    }
    alpha.aFinal
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-15;
        relTol          0;
    }
    Theta
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-10;
        relTol          0;
    }
    ThetaFinal
    {
        solver          PBiCG;
        preconditioner  DILU;
        tolerance       1e-10;
        relTol          0;
    }
}


relaxationFactors
{
    fields
    {
        pa              1.;
    }
}

PIMPLE
{
    nCorrectors     1;
    nNonOrthogonalCorrectors 0;
    correctAlpha    0;
    nAlphaCorr      0;
    
}

{%endif%}