{# Plantilla Jinja2 para el archivo 'g' de OpenFOAM #}

dimensions      [0 1 -2 0 0 0 0];
value           ({{ value.x }} {{ value.y }} {{ value.z }});

{%if customContent is not none%}
{{customContent}}
{%endif%}