    granularRheology   {{granularRheology}};

    granularDilatancy  {{granularDilatancy}};

    granularCohesion  {{granularCohesion}};

    alphaMaxG       alphaMaxG [ 0 0 0 0 0 0 0 ] {{alphaMaxG}};

    mus             mus  [ 0 0 0 0 0 0 0 ] {{mus}};

    mu2             mu2  [ 0 0 0 0 0 0 0 ] {{mu2}};

    I0              I0  [ 0 0 0 0 0 0 0 ] {{I0}};

    Bphi            Bphi [ 0 0 0 0 0 0 0 ] {{Bphi}};

    n               n [ 0 0 0 0 0 0 0 ] {{n}};

    Dsmall          Dsmall [ 0 0 -1 0 0 0 0 ] {{Dsmall}};

    relaxPa         relaxPa [ 0 0 0 0 0 0 0 ] {{relaxPa}};

    FrictionModel  {{FrictionModel}};

    PPressureModel {{PPressureModel}};

    FluidViscosityModel  {{FluidViscosityModel}};

{%if customContent is not none%}
{{customContent}}
{%endif%}
