    
    dragModela      GidaspowSchillerNaumann;

    dragModelb      GidaspowSchillerNaumann;

    dragPhase       a;


    // ************************************************************************* //