
kineticTheory   {{kineticTheory}};

e               e [ 0 0 0 0 0 0 0 ] {{e}};

alphaMax        alphaMax [ 0 0 0 0 0 0 0 ] {{alphaMax}};

MaxTheta       MaxTheta [ 0 2 -2 0 0 0 0 ] {{MaxTheta}};

phi             phi [ 0 0 0 0 0 0 0 ] {{phi}};

viscosityModel  {{viscosityModel}};

conductivityModel {{conductivityModel}};

granularPressureModel {{granularPressureModel}};

radialModel    {{radialModel}};

{%if customContent is not none%}
{{customContent}}
{%endif%}
