{# Plantilla Jinja2 para el archivo 'nut' de OpenFOAM #}
dimensions      [{{uDim[0]}} {{uDim[1]}} {{uDim[2]}} {{uDim[3]}} {{uDim[4]}} {{uDim[5]}} {{uDim[6]}}];

internalField   uniform {{internalField}};

boundaryField
{
    {# Itera sobre la lista de condiciones de borde pasadas desde Python #}
    {% for patch in boundaryField %}
    {{ patch.patchName }}
    {
        {%if patch.type == "customPatch"%}
        {{patch.customPatchContent}}
        {%else%}
        type            {{ patch.type }};
        
        {# Itera sobre todos los parámetros del patch y los escribe #}
        {% for key, value in patch.items() %}
        {% if key not in ['patchName', 'type'] %}
        {% if value is mapping %}
        {{ key }}           uniform ({{ value.x }} {{ value.y }} {{ value.z }});
        {% else %}
        {{ key }}           uniform {{ value }};
        {% endif %}
        {% endif %}
        {% endfor %}
        {%endif%}
    }
    {% endfor %}


}

{%if customContent is not none%}
{{customContent}}
{%endif%}