{# Plantilla Jinja2 para el archivo 'nut' de OpenFOAM #}

dimensions      [0 2 -1 0 0 0 0];

internalField   uniform {{ internalField }};

boundaryField
{
    {% for patch in boundaryField %}
    {{ patch.patchName }}
    {
        type            {{ patch.type }};
        {% if patch.value is defined %}
        value           uniform {{ patch.value }};
        {% endif %}
    }
    {% endfor %}
}
