{# Plantilla Jinja2 para el archivo 'omega' de OpenFOAM #}

dimensions      [0 0 -1 0 0 0 0];

internalField   uniform {{internalField}};

boundaryField
{
    {# Itera sobre la lista de condiciones de borde pasadas desde Python #}
    {% for patch in boundaryField %}
    {{ patch.patchName }}
    {
        type            {{ patch.type }};
        {% if patch.type == "groovyBC" %}
        refvalue           uniform 0.033;
        value           uniform 0.033;
        refGradient     uniform 0;
        valueFraction   uniform 1;
        valueExpression "inletprofileomega(pos().z)";
        gradientExpression "0";
        fractionExpression "1";
        evaluateDuringConstruction 1;
        variables       "";
        timelines       (
);
        lookuptables    (
{
        name            inletprofileomega;
        file        "$FOAM_CASE/1d_profil/omega.b.xy";
        outOfBounds     clamp;
}
);
        {% endif %}
        {# Itera sobre todos los parámetros del patch y los escribe #}
        {% for key, value in patch.items() %}
        {% if key == 'kn' or key == 'blending'%}
        {{ key }}           {{ value }};
        {% else %}
        {% if key not in ['patchName', 'type'] %}
        {% if value is mapping %}
        {{ key }}           uniform ({{ value.x }} {{ value.y }} {{ value.z }});
        {% else %}
        {{ key }}           uniform {{ value }};
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
    }
    {% endfor %}
    defaultFaces
    {
        type            empty;
    }

}
