ppModel          {{ppModel}};

alphaMax         alphaMax [ 0 0 0 0 0 0 0 ] {{alphaMax}};

alphaMinFriction alphaMinFriction [ 0 0 0 0 0 0 0 ] {{alphaMinFriction}};

Fr               Fr [ 1 -1 -2 0 0 0 0 ] {{Fr}};

eta0             eta0 [ 0 0 0 0 0 0 0 ] {{eta0}};

eta1             eta1 [ 0 0 0 0 0 0 0 ] {{eta1}};

packingLimiter  {{packingLimiter}};

{%if customContent is not none%}
{{customContent}}
{%endif%}