{# Plantilla Jinja2 para el archivo 'setFieldsDict' de OpenFOAM #}

defaultFieldValues
(
    volScalarFieldValue alpha.water 0
);

regions
(
    boxToCell
    {
        box ({{ box_min.x }} {{ box_min.y }} {{ box_min.z }}) ({{ box_max.x }} {{ box_max.y }} {{ box_max.z }});
        fieldValues
        (
            volScalarFieldValue {{filePhase}} 1
        );
    }
);

{%if customContent is not none%}
{{customContent}}
{%endif%}