{# Plantilla Jinja2 para el archivo 'transportProperties' de OpenFOAM #}

{% if params.solver_selected == 'interFoam' %}
phases      (water air);

water
{
    transportModel  {{params.water_transportModel}};
    nu              {{params.water_nu}};
    rho             {{params.water_rho}};
}

air
{
    transportModel  {{params.air_transportModel}};
    nu              {{params.air_nu}};
    rho             {{params.air_rho}};
}

sigma       {{ sigma }};
{% endif %}


