{# Plantilla Jinja2 para el archivo 'transportProperties' de OpenFOAM #}

{% if params.solver_selected == 'interFoam' %}
phases      (water air);

water
{
    transportModel  {{params.water_transportModel}};
    nu              {{params.water_nu}};
    rho             {{params.water_rho}};
}

air
{
    transportModel  {{params.air_transportModel}};
    nu              {{params.air_nu}};
    rho             {{params.air_rho}};
}

sigma       {{ params.sigma }};
{% endif %}

{% if params.solver_selected == '2DChannel' %}

// * * * * * * * * * * * * sediment properties * * * * * * * * * * * * //
phasea
{
    rho             rho [ 1 -3 0 0 0 ] 1;
    nu              nu [ 0 2 -1 0 0 ] 0e0;
    d               d [ 0 1 0 0 0 0 0 ] {{params.da}};
    sF              sF   [ 0 0  0 0 0 0 0 ] 1;
    hExp            hExp [ 0 0  0 0 0 0 0 ] 2.65;  // hindrance exponent for drag: beta^(-hExp) (2.65 by default)
}

phaseb
{
    rho             rho [ 1 -3 0 0 0 ] 1;
    nu              nu [ 0 2 -1 0 0 ] 7.2727e-5;
    d               d [ 0 1 0 0 0 0 0 ] {{params.db}};
    sF              sF   [ 0 0  0 0 0 0 0 ] 1;
    hExp            hExp [ 0 0  0 0 0 0 0 ] 2.65;
}
//*********************************************************************** //
transportModel  Newtonian;

nu              nu [ 0 2 -1 0 0 0 0 ] 7.2727e-5;

nuMax           nuMax [0 2 -1 0 0 0 0] 1e-1;      // viscosity limiter for the Frictional model (required for stability)

alphaSmall      alphaSmall [ 0 0 0 0 0 0 0 ] 1e-6;  // minimum volume fraction (phase a) for division by alpha 

// ************************************************************************* //

{% endif %}


{% if params.solver_selected == '3DScourSqr' %}

// * * * * * * * * * * * * sediment properties * * * * * * * * * * * * //
phasea
{
    rho             rho [ 1 -3 0 0 0 ] 2650;
    nu              nu [ 0 2 -1 0 0 ] 1e-6;
    d               d [ 0 1 0 0 0 0 0 ] {{params.da}};
    sF              sF   [ 0 0  0 0 0 0 0 ] 1.;    // shape Factor to adjust settling velocity for non-spherical particles
    hExp            hExp [ 0 0  0 0 0 0 0 ] 2.65;  // hindrance exponent for drag: beta^(-hExp) (2.65 by default)
}
// * * * * * * * * * * * * fluid properties * * * * * * * * * * * * //
phaseb
{
    rho             rho [ 1 -3 0 0 0 ] 1000;
    nu              nu [ 0 2 -1 0 0 ] 1.e-06;
    d               d [ 0 1 0 0 0 0 0 ] {{params.db}};
    sF              sF   [ 0 0  0 0 0 0 0 ] 1.;
    hExp            hExp [ 0 0  0 0 0 0 0 ] 2.65;
}
//*********************************************************************** //

alphaSmall      alphaSmall [ 0 0 0 0 0 0 0 ] 1e-6;  // minimum volume fraction (phase a) for division by alpha 

alphaAlpha      alphaAlpha [ 0 0 0 0 0 ] 0;         // surface tension

Usmall          Usmall [ 0 1 -1 0 0 0 0 ] 1.0e-10;  // minimum friction velocity for local Schmidt calculation

Ufall           Ufall [ 0 1 -1 0 0 0 0 ] 3.44e-2;   //sediment fall velocity


transportModel  Newtonian;

nu              nu [ 0 2 -1 0 0 0 0 ] 1e-06;
nuMax        nuMax [0 2 -1 0 0 0 0] 100;      // viscosity limiter for the Frictional model (required for stability)
{% endif %}



