{# Plantilla Jinja2 para el archivo 'turbulenceProperties' de OpenFOAM #}

simulationType       {{ simulation_type }};

{% if simulation_type == "RAS"%}
RAS
{
    RASModel        kOmegaSST;

    turbulence      on;

    printCoeffs     on;
}

{%endif%}

