dimensions      [0 1 -1 0 0 0 0];

internalField   uniform ({{ internalField.x }} {{ internalField.y }} {{ internalField.z }});

boundaryField
{
    {% for patch in boundaryField %}
    {{ patch.patchName }}
    {
        type            {{ patch.type }};
        {% if patch.type == "flowRateInletVelocity" %}
        volumetricFlowRate           constant {{ patch.volumetricFlowRate }};
        {% else %}
            {% for key, value in patch.items() %}
                {% if key not in ['patchName', 'type'] %}
                    {% if value is mapping %}
                        {{ key }}           uniform ({{ value.x }} {{ value.y }} {{ value.z }});
                    {% else %}
                        {{ key }}           uniform {{ value }};
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    {% endfor %}
    defaultFaces
    {
        type            empty;
    }
}