dimensions      [{{uDim[0]}} {{uDim[1]}} {{uDim[2]}} {{uDim[3]}} {{uDim[4]}} {{uDim[5]}} {{uDim[6]}}];

internalField   uniform ({{ internalField.x }} {{ internalField.y }} {{ internalField.z }});

boundaryField
{
    {% for patch in boundaryField %}
    {{ patch.patchName }}
    {
        type            {{ patch.type }};
        {% if patch.type == "groovyBC" %}
                    type            groovyBC;
                    refValue        uniform  (0 0 0);
                value 		uniform (0 0 0);
                variables       "t=time();";
                valueExpression "max(min(t/10.,1),0.01)*vector(1,0,0)";
                    gradientExpression "vector(0,0,0)";
                    fractionExpression "1";
        {% endif %}
        {% if patch.type == "flowRateInletVelocity" %}
        volumetricFlowRate           constant {{ patch.volumetricFlowRate }};
        {% else %}
            {% for key, value in patch.items() %}
                {% if key not in ['patchName', 'type'] %}
                    {% if value is mapping %}
                        {{ key }}           uniform ({{ value.x }} {{ value.y }} {{ value.z }});
                    {% else %}
                        {{ key }}           uniform {{ value }};
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    {% endfor %}
    defaultFaces
    {
        type            empty;
    }
}